.body {
    display: flex;
    background-color: white;
    text-align: center;
}

.box {
    display: flex;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

/* Navigation Bar */

.nav-bar {
    display: flex;
    font-size: 24px;
    color: white;
    background-color: #1f2937;
    padding: 20px;
    align-items: center;
}

.nav-bar .logo {
    margin-right: auto;
}

.nav-bar .links {
    margin-left: auto;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Introduction Box */

.intro-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.intro-box img {
    max-width: 100%;
}

.intro-box .intro-image {
    flex-basis: 100%;
    padding: 20px;
}

.intro-box .intro-words {
    font-size: 20px;
    padding-left: 20px;
}

.intro-box h1 {
    font-size: 48px;
    font-style: bold;
    color: #f9faf8;
}

.intro-box p {
    font-size: 18px;
    color: #e5e7eb;
}

.intro-box button {

}

/* Information Box */
.info-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.info-box h1 {
    text-align: center;
    color: #1f2937;
}

.info-box .content-info {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #1f2937;
}

.info-box .content-info img {
    width: 200px;
    height: 200px;
}

.info-box p {
    text-align: center;
}

.info-box .content-info p {

}

/* Quote Box */
.quote-box {
    background-color: #e5e7eb;
    display: flex;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

.quote-box p {
    font-style: italic;
    font: 36px;
    color: #1f2937;
}

/* Sign Up Box */
.sign-up-box {
    display: flex;
    padding: 20px;
    flex-direction: row;
    color: white;
    justify-content: center;
}

.sign-up-box .sign-up-texts {

}

.sign-up-box .sign-up-button {
    padding-top: 40px;
    padding-left: 40px;
}

.footer p {
    text-align: center;
}